#containerout {
  border: 7px solid red;
  width: 700px;
  height: 1260px;
  margin-left:240px;
  padding: 10px;
  border-radius: 33px;

}

.box {
  border-radius: 25px;
  margin: 5px;
}

#container {
  display: grid;
  grid-template-rows: 21% 21% 21% 21% 21% 21%;
  gap: 1.2px;
  height: 128vh;
}

#container1,
#container2,
#container3,
#container4,
#container5,#container6 {
  display: grid;
  border: 1px solid black;
  border-width: 100%;
  grid-template-columns: 70% 30%;
}

.button-11,
.button-41,
.button-21,
.button-31,
.button-51,
.button-61 {
  display: inline-block;
  border: 2px solid #f71f1f;
  background-color: #e6dde0;
  padding: 8px 12px;
  border-radius: 15%;
  margin-top:3px;
  margin-bottom:1px;
}

.button-11 span,
.button-41 span,
.button-31 span,
.button-51 span,
.button-21 span,
.button-61 span {
  margin: 2px 6px;
}

.button-11:hover,
.button-41:hover,
.button-31:hover,
.button-51:hover,
.button-21:hover ,
.button-61:hover{
  background-color: rgb(228, 161, 161);
}

#container7 {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 0px;
  row-gap: 0px;
}

#containeroutout {
  display: grid;
  grid-template-columns:58% 42%;
  column-gap:0px;
}
#containercartout{
  border-radius: 10px;
  width:400px;
  height:fit-content;
  margin-left:140px;
  margin-top:180px;
  display: none;
  grid-template-rows: 30% 70%;
}

#deliveryboy {
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
