/* styles.css */

/* General table styling */
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width:max-content;
    border:4px solid black;
    padding: 1px;
    width:100%;
    height:350px;
}

td, th {
    border: 1px solid black;
    text-align: center;
}
td:hover,th:hover{
    background-color: bisque;
}
#td1,#td3,#td2,#td5,#td6,#td0,#td4{
    border:none;
    padding-left:8px;
    padding-right:8px;
}
ul li{
    margin:0px;
    padding: 2px;
}